#[crate_type = "lib"];
#[crate_id = "httpd#0.1"];

extern mod std;
extern mod extra;

pub mod headers;
pub mod server;
pub mod context;
pub mod request;
pub mod response;
pub mod method;
pub mod requesturi;
pub mod status;

pub mod methods
{ 
	pub mod GET;
}
